#super-container{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100vh;
}

#sidemenu-container, #center-container, #chat-container{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto;
}

#sidemenu-container{
    background-color: deepskyblue;
}

#chat-container{
    background-color: deepskyblue;
}

.no-border {
    margin: 0;
    padding: 0;
}